@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");

body {
  margin: 0;
  padding: 0;

  background-image: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.656),
      rgb(10, 1, 31)
    ),
    /* linear-gradient(0deg, rgba(27, 3, 69, 0.333), rgba(0, 0, 0, 0.333)), */
      url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png),
    url("https://wallpaper.dog/large/5554843.jpg");

  overflow: hidden;
}

section {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

section .scroll {
  width: 100%;
  display: flex;
  line-height: 14em;
}

section .scroll div {
  /* color: #000; */
  font-size: 14em;
  color: rgba(79, 34, 34, 0.7);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.1);

  white-space: nowrap;
  font-weight: 1000;
  text-transform: uppercase;
}

.scroll {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

section .scroll div span {
  color: transparent;
  -webkit-text-stroke: 2px rgb(249 174 174 / 40%);
}

section .scroll.text1,
.scroll.text2,
.scroll.text4,
.scroll.text6,
.scroll.text8,
.scroll.text10,
.scroll.text11 {
  transform: rotate(30deg);
}
section .scroll.text3,
.scroll.text5,
.scroll.text7,
.scroll.text9 {
  transform: rotate(30deg);
}

section .scroll.text1 {
  width: 500px;
  transform: rotate(30deg) translateY(-750px) translateX(1100px);
}
section .scroll.text2 {
  width: 1100px;
  transform: rotate(30deg) translateY(-580px) translateX(650px);
}
section .scroll.text3 {
  width: 1400px;
  transform: rotate(30deg) translateY(-470px) translateX(250px);
}
section .scroll.text4 {
  width: 1880px;
  transform: rotate(30deg) translateY(-320px) translateX(-200px);
}
section .scroll.text5 {
  width: 2000px;
  transform: rotate(30deg) translateY(-270px) translateX(-370px);
}
section .scroll.text6 {
  width: 1400px;
  transform: rotate(30deg) translateY(-400px) translateX(-400px);
}
section .scroll.text7 {
  width: 750px;
  transform: rotate(30deg) translateY(-540px) translateX(-440px);
}
section .scroll.text8 {
  width: 400px;
  transform: rotate(30deg) translateY(-600px) translateX(-460px);
}
.scroll.text2 div,
.scroll.text4 div,
.scroll.text6 div,
.scroll.text8 div {
  animation: animate 500s linear infinite;
  animation-delay: -50s;
}

.scroll.text1 div,
.scroll.text3 div,
.scroll.text5 div,
.scroll.text7 div {
  animation: animate2 550s linear infinite;
  animation-delay: -50s;
}

@keyframes animate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
